
body {
  font-family: "Mulish";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*app css custom*/
.headerWrap{
  height: 75px;
  display: flex;
  align-items: center;
}
.innerheaderWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftLogo{
  width: 100px;
}
.mainWrap{
  margin-top: 75px;
}
.solutionBox{
  padding: 20px;
  background: #fff;
}
.headbox{
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid #0ea2bd;
  padding: 5px 10px;
}
.paraBox{
  margin-bottom: 10px;
}
tbody, td, tfoot, th, thead, tr{
  padding: 15px 14px !important;
}
table td {
  width: 50%;
}